/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-max-width: 500;
}
.H1 {
    -fx-font-size: 25;
}
.Header {
    -fx-font-size: 15;
    -fx-padding: 10 0 10 0;
}

.informationStyle {
    -fx-padding: 10;
    -fx-spacing: 10;
}
.payment {
    -fx-font-size: 14;
    -fx-padding: 10 0 10 0;
}
.element {
    -fx-padding: 5 0 5 0;
}
